@charset "UTF-8";
@media only screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }
  .dis-none {
    display: none;
  }
  .index-body {
    background-color: rgb(50, 50, 50);
    color: white;
  }
  .index-body .home-header {
    width: 100%;
    padding: 25px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .index-body .home-header .link {
    display: flex;
    gap: 20px;
  }
  .index-body .home-header .link a {
    text-decoration: none;
    color: white;
  }
  .index-body .home-header .link a:hover {
    color: gray;
    font-weight: 900;
  }
  .index-body .home-header .dark-light {
    width: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .index-body .home-header .dark-light .dark-light-toggle {
    width: 40px;
    filter: invert(1);
  }
  .index-body .home-header .dark-light #light-toggle {
    filter: invert(1);
  }
  .index-body .switch-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .index-body .switch-tab .movie-tab, .index-body .switch-tab .tv-tab {
    margin: 5px;
  }
  .index-body .switch-tab .movie-tab:hover, .index-body .switch-tab .tv-tab:hover {
    border-bottom: 2px solid white;
    text-align: center;
  }
  .index-body #movie-h3, .index-body #tv-h3 {
    margin: 0;
    padding: 10px 5px;
  }
  .index-body .movie-items, .index-body .tv-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* 自動適應寬度 */
    gap: 20px;
  }
  .index-body .movie-list, .index-body .tv-list {
    margin: 0 auto; /* 確保內容居中 */
    width: 100%; /* 容器寬度限制 */
    list-style: none;
    text-align: left;
  }
  .index-body .movie-img, .index-body .tv-img {
    max-width: 100%; /* 確保圖片自適應容器寬度 */
    border-radius: 15px;
    display: block; /* 移除圖片的下方間隙 */
  }
  .index-body .movie-img:hover, .index-body .tv-img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .index-body .movie-title, .index-body .tv-title {
    max-width: 100%;
    white-space: nowrap; /* 禁止文字換行 */
    overflow: hidden; /* 隱藏超出的文字 */
    text-overflow: ellipsis; /* 使用省略號 */
  }
  .index-body .movie-date, .index-body .tv-date {
    margin: 0;
  }
  .index-body .dialog {
    position: fixed;
    border: none;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    width: 100%;
  }
  .index-body .dialog .leave-btn {
    text-align: center;
    padding: 40px;
  }
  .index-body .dialog .leave-btn #leave-m-btn, .index-body .dialog .leave-btn #leave-tv-btn {
    width: 120px;
  }
  .index-body #see-more-movie, .index-body #see-more-tv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 40px 0;
  }
  .index-body #see-more-movie .btn, .index-body #see-more-tv .btn {
    width: 130px;
    height: 40px;
  }
  .index-body .btn {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: black;
    cursor: pointer;
    border: 3px solid white;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .index-body .btn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  .light-theme {
    background-color: white;
    color: black;
  }
  .light-theme .home-header {
    color: black;
    background-color: rgb(255, 233, 239);
  }
  .light-theme .home-header .link a {
    color: black;
  }
  .light-theme .switch-tab .movie-tab:hover, .light-theme .switch-tab .tv-tab:hover {
    border-bottom: 2px solid black;
  }
  .light-theme .dialog {
    color: black;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .light-theme .btn {
    color: rgb(80, 80, 80);
    background-color: white;
    border: 3px solid #f099b5;
  }
  .checkbox-wrapper-5 .check {
    --size: 40px;
    position: relative;
    background: linear-gradient(90deg, #f19af3, #f099b5);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
  }
  .checkbox-wrapper-5 .check input[type=checkbox],
  .checkbox-wrapper-5 .check label,
  .checkbox-wrapper-5 .check label::before,
  .checkbox-wrapper-5 .check label::after,
  .checkbox-wrapper-5 .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: 0.35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
  }
  .checkbox-wrapper-5 .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
  }
  .checkbox-wrapper-5 .check input[type=checkbox] {
    position: absolute;
    z-index: 1;
    width: calc(0.8 * var(--size));
    height: calc(0.8 * var(--size));
    top: calc(0.1 * var(--size));
    left: calc(0.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
    outline: none;
    margin: 0;
  }
  .checkbox-wrapper-5 .check input[type=checkbox]:checked {
    left: calc(1.3 * var(--size));
  }
  .checkbox-wrapper-5 .check input[type=checkbox]:checked + label {
    background: transparent;
  }
  .checkbox-wrapper-5 .check label::before,
  .checkbox-wrapper-5 .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(0.15 * var(--size));
    top: calc(0.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(0.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
  }
  .checkbox-wrapper-5 .check label::after {
    content: "●";
    top: calc(0.65 * var(--size));
    left: calc(0.2 * var(--size));
    height: calc(0.1 * var(--size));
    width: calc(0.35 * var(--size));
    font-size: calc(0.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
  }
  .checkbox-wrapper-5 .check input[type=checkbox]:checked + label::before,
  .checkbox-wrapper-5 .check input[type=checkbox]:checked + label::after {
    left: calc(1.55 * var(--size));
    top: calc(0.4 * var(--size));
    line-height: calc(0.1 * var(--size));
    transform: rotateY(360deg);
  }
  .checkbox-wrapper-5 .check input[type=checkbox]:checked + label::after {
    height: calc(0.16 * var(--size));
    top: calc(0.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(0.6 * var(--size));
    line-height: 0;
  }
}

/*# sourceMappingURL=style.css.map */
