main {
  .now-container {
    padding: 20px 0 10px 0;
    .movie-container, .tv-container {
      flex-direction: row;
      display: flex;
      justify-items: center;
      align-items: center;
      width: 100%;
      height: 400px;
      overflow-x: auto; /* 只啟用水平滾動 */
      overflow-y: hidden; /* 禁止垂直滾動 */
      white-space: nowrap;
      gap: 80px;
  
      .now-movie-img {
        width: 180px;
        height: auto;
        border-radius: 15px;
      }  
    }
  
    .movie-container::-webkit-scrollbar, 
    .tv-container::-webkit-scrollbar {
      display: none;
    }
    
    .movie-content {
      flex-shrink: 0;
      transition: transform 0.3s ease;
    }
    
    .movie-content.active {
      transform: scale(1.5);
    }  
  }
}